<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Pozíció nyitás</title>

    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
</head>

<body class="is-preload">
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <h1>Új pozíció nyitása</h1>
        <p>Válassz instrumentumot és mennyiséget</p>
    </header>

    <!-- NAV -->
    <nav id="nav">
        <ul>
            <li><a href="/">Főoldal</a></li>
            <li><a href="/exercise">SOAP Árfolyam</a></li>
            <li><a href="/forex-account">Forex-Számla</a></li>
            <li><a href="/actual_prices">Aktuális ár</a></li>
            <li><a href="/hist_prices">Historikus adatok</a></li>
            <li><a href="/open_position" class="active">Pozíció nyitás</a></li>
            <li><a href="/forex-positions">Pozíciók</a></li>
            <li><a href="/close_position">Pozíció zárás</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <section class="main">
            <header class="major">
                <h2>Pozíció adatai</h2>
            </header>

            <form th:action="@{/open_position}" th:object="${param}" method="post">

                <div class="fields">

                    <!-- Instrumentum -->
                    <div class="field">
                        <label>Instrument</label>
                        <select th:field="*{instrument}">
                            <option value="EUR_USD">EUR_USD</option>
                            <option value="GBP_USD">GBP_USD</option>
                            <option value="USD_CHF">USD_CHF</option>
                            <option value="USD_JPY">USD_JPY</option>
                        </select>
                    </div>

                    <!-- Units -->
                    <div class="field">
                        <label>Mennyiség (pozitív = Long, negatív = Short)</label>
                        <input type="number" th:field="*{units}" placeholder="Pl.: 100 vagy -100" required />
                    </div>

                </div>

                <ul class="actions special">
                    <li><input type="submit" value="Pozíció nyitása" class="primary" /></li>
                </ul>

            </form>

        </section>
    </div>

    <footer id="footer">
        <p class="copyright">&copy; Stellar template –  Integráció: Szarvas Balázs & Falusi Tamás </p>
    </footer>

</div>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>
